<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>订阅列表</title>
    <base href="{{ base_path() }}">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="theme/admin/assets/layui/css/layui.css">
    <link rel="stylesheet" href="theme/admin/assets/css/style.css">
</head>

<body>
    <div class="tab-body">
        <table class="layui-table">
            <thead>
                <tr>
                  <th>ID</th>
                  <th>邮箱</th>
                  <th>用户</th>
                  <th>状态</th>
                  <th>创建时间</th>
                  <th>操作</th>
                </tr>
            </thead>
            <tbody>
              @foreach($subscribe['list'] as $r)
                  <tr>
                    <td>
                        {{ $r->sid }}
                    </td>
                    <td>
                      {{ $r->mail }}
                    </td>
                    <td>
                      {{ $r->uid > 0 ? get_username_byid($r->uid) : '' }}
                    </td>
                    <td>
                      {{ $r->status == 'yes' ? '发布' : '草稿' }}
                    </td>
                    <td>
                        {{ date("Y-m-d H:i:s", $r->created) }}
                    </td>
                    <td class=" td-handle">
                        <a href="javascript:;" onclick="subscribeEdit('{{ $r->nid }}');" class="layui-btn layui-btn-normal layui-btn-xs">编辑</a>
                        <a href="javascript:;" onclick="subscribeDel('{{ $r->nid }}');" class="layui-btn layui-btn-danger layui-btn-xs ajax-delete">删除</a>
                    </td>
                </tr>
              @endforeach
            </tbody>
        </table>
        {!! hunter_pager($subscribe['pager'], '上一页', '下一页') !!}
        <input id="iframe_status" value="" hidden="hidden">
    </div>
    <script src="theme/admin/assets/layui/layui.js"></script>
    <script>
        function newsletterAdd() {
            layui.use(['layer'], function() {
                var $ = layui.jquery;
                var layer = layui.layer;

                var index = layer.open({
                    title: '添加Newsletter',
                    type: 2,
                    area: ['800px', '590px'],
                    fix: false, //不固定
                    maxmin: true,
                    content: ["admin/newsletter/add", 'yes'],
                    success: function(layero, index) {},
                    end: function() {
                        var iframe_status = $("#iframe_status").val();
                        if (iframe_status == '1') {
                            layer.msg('添加成功!', {
                                icon: 1,
                                time: 1000,
                                shade: 0.1
                            }, function() {
                                location.reload();
                            });
                        } else if (iframe_status == '0') {
                            layer.msg('添加失败!', {
                                icon: 5
                            });
                        }
                    }
                });
                layer.full(index);
            });
        }

        function newsletterEdit(nid) {
            layui.use(['layer'], function() {
                var $ = layui.jquery;
                var layer = layui.layer;

                var index = layer.open({
                    title: '编辑Newsletter',
                    type: 2,
                    area: ['800px', '590px'],
                    fix: false, //不固定
                    maxmin: true,
                    content: ["admin/newsletter/edit/" + nid, 'yes'],
                    success: function(layero, index) {},
                    end: function() {
                        var iframe_status = $("#iframe_status").val();
                        if (iframe_status == '1') {
                            layer.msg('编辑成功！', {
                                icon: 1,
                                time: 1000,
                                shade: 0.1
                            }, function() {
                                location.reload();
                            });
                        } else if (iframe_status == '0') {
                            layer.msg('没有可编辑的内容!', {
                                icon: 5
                            });
                        } else if (iframe_status == '') {}
                    }
                });
                layer.full(index);
            });
        }

        function newsletterDel(nid) {
            layui.use(['layer'], function() {
                var $ = layui.jquery;
                var layer = layui.layer;

                layer.confirm('你确定要删除此项吗?', {
                    icon: 3,
                    title: '删除Newsletter'
                }, function(index) {
                    $.ajax({
                        type: "GET",
                        url: "admin/newsletter/del/" + nid,
                        success: function(msg) {
                            if (msg) { //如果成功了
                                layer.msg('删除成功!', {
                                    icon: 1,
                                    time: 1000,
                                    shade: 0.1
                                }, function() {
                                    location.reload();
                                });
                            } else {
                                layer.msg('删除失败!', {
                                    icon: 5
                                });
                            }
                        }
                    });
                });
            });
        }
    </script>
</body>

</html>
